/*#region ----------------- Accordion */
.accordion-section {
  .btn-link {
    background-color: $background;
    border-radius: 10px 10px 0 0;
    text-align: right;
    padding: 0.6rem 3rem 0.6rem 1rem;
    font-size: 15px;
    color: $textDark;
    border: 1px solid $borderColor;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $primaryLight;
      color: $primary;
    }
    &::before {
      content: "\f3d5";
      font-family: $iconFontSolid;
      position: absolute;
      right: 10px;
      top: 6px;
      color: $textGrey;
      font-size: 20px;
    }
    &.collapsed {
      border-radius: 10px;
      &::before {
        content: "\f428";
        color: $primary;
      }
    }
  }
  .card {
    border: none !important;
    border-radius: 10px !important;
    margin-bottom: 10px;
    .card-body {
      border: 1px solid $borderColor;
      border-top: none;
      border-radius: 0 0 10px 10px;
    }
  }
}
.volume-box {
  display: grid;
  grid-template-columns: 60% 40%;
  &.single-row {
    align-items: flex-end;
    .inputgroup {
      margin-bottom: 0;
    }
  }
  .volume-inputs {
    padding-left: 20px;

    // border: 1px solid $borderColor;
    // padding-right: 20px;
    // padding-top: 12px;
    // border-radius: 0 10px 10px 0;
  }
  .volume-info {
    // border-radius: 10px 0 0 10px;
    ul {
      border-radius: 10px;
      background-color: $background;
      padding: 7px 15px;
      li {
        @include displayFlex(flex, center, space-between);
        margin: 5px 0;
        span {
          display: block;
        }
        .name {
          font-size: 13px;
          font-weight: 400;
          color: $textGrey;
        }
        .desc {
          font-size: 14px;
          font-weight: 600;
          color: $textDark;
        }
      }
    }
  }
}
.volume-total {
  border-top: 1px solid $borderColor;
  padding-top: 15px;
  margin-top: 1rem;
  h6 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: $textGrey;
    span {
      color: $textDark;
    }
  }
}

@media (max-width: 1400px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
  .volume-box {
    grid-template-columns: 100%;
    margin-bottom: 20px !important;
    .volume-inputs {
      padding-left: 0;
    }
    &.single-row {
      .volume-inputs {
        margin-bottom: 10px;
      }
    }
  }
}
@media (max-width: 768px) {
  .accordion-section {
    .btn-link {
      font-size: 13px;
      padding-right: 2.5rem;
      &::before {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 575px) {
  .accordion-section {
    .btn-link {
      font-size: 12px;
      padding-right: 2.2rem;
      &::before {
        font-size: 16px;
      }
    }
  }
}

/*#endregion -------------- Accordion */
