/*#region ----------------- Animation */
.smooth-anim-3s {
    transition: all 0.3s ease-in-out;
}

@keyframes scaleIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.7);
        opacity: 0;
    }
}

// Fade In
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    animation-name: fadeIn;
}

// Fade Out
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fadeOut {
    animation-name: fadeOut;
}

@keyframes swipeup {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swipeupsmall {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes swipeRightsmall {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes swipeLeftsmall {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rotatebg {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($color: $secondary, $alpha: 0.1), 0 0 0 0 rgba($color: $secondary, $alpha: 0.1);
    }
    40% {
        box-shadow: 0 0 0 10px rgba($color: $secondary, $alpha: 0), 0 0 0 0 rgba($color: $secondary, $alpha: 0.1);
    }
    80% {
        box-shadow: 0 0 0 10px rgba($color: $secondary, $alpha: 0), 0 0 0 10px rgba($color: $secondary, $alpha: 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($color: $secondary, $alpha: 0), 0 0 0 10px rgba($color: $secondary, $alpha: 0);
    }
}

@keyframes dropanim {
    from {
        opacity: 1;
        width: 10px;
        height: 10px;
    }
    to {
        opacity: 0;
        width: 120px;
        height: 120px;
    }
}

/*#endregion -------------- Animation */
