/*#region ----------------- Buttons */
.btn {
  padding: 0.5rem 1.3rem;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid transparent;
  border: 2px solid transparent;
  position: relative;
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
  &.mini-size {
    padding: 0.1rem 0.7rem 0.3rem 0.7rem;
    border-radius: 8px;
    font-size: 14px;
    .fi {
      margin-left: 6px;
      position: relative;
      top: 5px;
      font-size: 18px;
    }
  }
}
.icon-left {
  padding-left: 45px;
  .fi {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 14px;
  }
}
.icon-right {
  padding-right: 45px;
  .fi {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 14px;
  }
}
.btn-primary {
  border-color: $primaryDark;
  background-color: $primary;
  color: white;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background-color: $primaryDark;
    border-color: $primaryDark;
  }
  .fi {
    color: white;
  }
}

.btn-secondary {
  border-color: $secondaryDark;
  background-color: $secondary;
  color: white;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background-color: $secondaryDark;
    border-color: $secondaryDark;
  }
  .fi {
    color: white;
  }
}

.btn-primary-outline {
  border-color: $primary;
  background-color: transparent;
  color: $primary;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background-color: $primaryDark;
    border-color: $primary;
    color: white;
    .fi {
      color: white;
    }
  }
  .fi {
    color: $primary;
  }
  &.color-gray {
    border-color: $textGrey;
    color: $textGrey;
    .fi {
      color: $textGrey;
    }
    &:hover,
    &:focus {
      background-color: $textSilver;
      color: white;
      .fi {
        color: white;
      }
    }
  }
}

.btn-secondary-outline {
  border-color: $secondary;
  background-color: transparent;
  color: $secondary;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background-color: $secondaryDark;
    border-color: $secondary;
    color: white;
    .fi {
      color: white;
    }
  }
  .fi {
    color: $secondary;
  }
}

.btn-accent {
  border-color: $accentDark;
  background-color: $accent;
  color: white;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    background-color: $accentDark;
    border-color: $accentDark;
    color: white;
  }
  .fi {
    color: white;
  }
}

.btn-link {
  padding-right: 0;
  padding-left: 0;
  font-size: 13px;
  color: $primary;
  .fi {
    margin-left: 8px;
    position: relative;
    top: 3px;
  }
}

/*#endregion -------------- Buttons */
