/*#region ----------------- Cards */
.cards-list-section {
  margin-top: 2rem;
  .list-title {
    @include displayFlex(flex, center, space-between);
    margin-bottom: 16px;
    h3 {
      margin-bottom: 0;
      font-size: 18px;
      color: $textDark;
    }
    .record-info {
      h6 {
        margin-bottom: 0;
        color: $textGrey;
        font-size: 13px;
        font-weight: 400;
        strong {
          color: $textDark;
          margin: 0 3px;
        }
      }
    }
  }
}

.card-infomation {
  margin-bottom: 10px;
  position: relative;
  .card-inner {
    border: 2px solid $borderColor;
    border-radius: 10px;
  }
  .c-header {
    @include displayFlex(flex, center, flex-start);
    padding: 12px 12px 12px 50px;
    .num {
      background-color: $primary;
      min-width: 35px;
      text-align: center;
      border: 1px solid $primaryDark;
      border-radius: 5px;
      margin-left: 15px;
      color: white;
      font-size: 16px;
      font-weight: 600;
      &.error {
        background-color: $secondary;
        border-color: $secondaryDark;
      }
    }
    h6 {
      font-size: 14px;
      margin-bottom: 0;
      color: $textDark;
      span {
        font-size: 13px;
        font-weight: 400;
        color: $textGrey;
        margin-right: 5px;
        white-space: nowrap;
      }
    }
  }
  .c-body {
    padding: 0 12px 12px 12px;
    ul {
      @include displayFlex(flex, center, flex-start);
      flex-wrap: wrap;
      &.full-width {
        li {
          flex: 0 0 100%;
          width: 100%;
        }
      }
      li {
        flex: 0 0 33.33%;
        width: 33.33%;
        font-size: 13px;
        font-weight: 400;
        margin: 5px 0;
        .fi {
          font-size: 16px;
          position: relative;
          top: 4px;
          margin-left: 5px;
          color: $textGrey;
        }
        .name {
          color: $textGrey;
          white-space: nowrap;
        }
        .desc {
          color: $textDark;
          &.error {
            color: $error;
          }
          &.success {
            color: $success;
          }
          &.warning {
            color: $accent;
          }
        }
      }
    }
  }
  .c-footer {
    border-top: 2px solid $borderColor;
    padding: 8px 12px 3px 12px;
    background-color: $background;
    border-radius: 0 0 10px 10px;
    @include displayFlex(flex, center, space-between);
    .status {
      @include displayFlex(flex, center, center);
      padding: 8px 10px;
      border-radius: 5px;
      white-space: nowrap;
      margin-bottom: 5px;
      &.success {
        background-color: rgba($color: $primaryDark, $alpha: 0.15);
        color: $primary;
        h6 {
          color: $primary;
        }
      }
      &.error {
        background-color: rgba($color: $error, $alpha: 0.1);
        color: $error;
        h6 {
          color: $error;
        }
      }
      &.waiting {
        background-color: rgba($color: $accent, $alpha: 0.1);
        color: $accent;
        h6 {
          color: $accent;
        }
      }
      h6 {
        font-size: 12px;
        margin-bottom: 0;
        margin-right: 5px;
      }
      .fi {
        line-height: 0;
        font-size: 12px;
      }
    }
    .btns-group {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      .btn {
        margin: 0 5px 5px 0;
        flex-grow: 1;
        white-space: nowrap;
      }
    }
  }
  .c-actions {
    position: absolute;
    left: 10px;
    top: 10px;
    .dropdown-menu {
      box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.2);
      border: none;
      border-radius: 10px;
    }
    .dropdown-item {
      padding: 0.3rem 1rem;
      font-size: 14px;
      font-weight: 400;
      color: $textDark;
      text-align: right;
      i {
        margin-left: 10px;
        font-size: 18px;
        line-height: 0 !important;
        position: relative;
        top: 4px;
        color: $textGrey;
      }
      &:hover,
      &:focus {
        background-color: $primaryLight;
      }
    }
    .btn-menu {
      width: 34px;
      height: 34px;
      padding: 2px;
      border-radius: 8px;
      background-color: darken($color: $background, $amount: 5);
      color: $textGrey;
      border: none;
      cursor: pointer;
      display: inline-block;
      .fi {
        position: relative;
        top: 3px;
      }
    }
  }
}

.card-file-attach {
  position: relative;
  margin-bottom: 10px;
  .card-inner {
    display: grid;
    grid-template-columns: 150px auto;
    border: 2px solid $borderColor;
    border-radius: 10px;
    padding: 10px;
  }
  .thumb {
    @include imgContainer(150px, 8px);
    &::before {
      content: "\f419";
      font-family: $iconFontRegular;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $background;
      border-radius: 8px;
      @include displayFlex(flex, center, center);
      font-size: 40px;
      color: $textSilver;
    }
    img {
      font-size: 0;
    }
  }
  .info {
    padding-right: 20px;
    padding-left: 50px;
    ul li {
      font-size: 14px;
      margin: 6px 0;
      .name {
        color: $textGrey;
      }
      .desc {
        color: $textDark;
        margin-right: 5px;
      }
    }
  }
  .c-actions {
    position: absolute;
    left: 10px;
    top: 10px;
    .dropdown-menu {
      box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.2);
      border: none;
      border-radius: 10px;
    }
    .dropdown-item {
      padding: 0.3rem 1rem;
      font-size: 14px;
      font-weight: 400;
      color: $textDark;
      text-align: right;
      i {
        margin-left: 10px;
        font-size: 18px;
        line-height: 0 !important;
        position: relative;
        top: 4px;
        color: $textGrey;
      }
      &:hover,
      &:focus {
        background-color: $primaryLight;
      }
    }
    .btn-menu {
      width: 34px;
      height: 34px;
      padding: 2px;
      border-radius: 8px;
      background-color: darken($color: $background, $amount: 5);
      color: $textGrey;
      border: none;
      cursor: pointer;
      display: inline-block;
      .fi {
        position: relative;
        top: 3px;
      }
    }
  }
}

@media (max-width: 992px) {
  .card-infomation {
    .c-body {
      ul {
        li {
          flex: 0 0 50%;
          width: 50%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .card-infomation {
    .c-header {
      h6 {
        font-size: 13px;
        span {
          font-size: 11px;
        }
      }
    }
    .c-body {
      ul {
        li {
          flex: 0 0 100%;
          width: 100%;
          font-size: 12px;
        }
      }
    }
  }
  .card-file-attach {
    .card-inner {
      grid-template-columns: 120px auto;
    }
    .thumb {
      height: 120px;
    }
    .info {
      padding-right: 15px;
      ul li {
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 575px) {
  .card-infomation {
    .c-footer {
      flex-direction: column;
      .status,
      .btns-group {
        flex: 0 0 100%;
        width: 100%;
      }
      .status {
        margin-bottom: 5px;
      }
      .btns-group {
        text-align: left;
      }
    }
  }
  .card-file-attach {
    .card-inner {
      grid-template-columns: 100px auto;
    }
    .thumb {
      height: 100px;
    }
    .info {
      padding-right: 10px;
      ul li {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 400px) {
  .card-infomation {
    .c-body {
      ul {
        li {
          font-size: 10px;
          margin: 2px 0;
          border-bottom: 1px dashed $borderColor;
          padding-bottom: 2px;
          &:last-child {
            border-bottom: none;
          }
          .fi {
            font-size: 14px;
          }
          span {
            display: block;
          }
          .desc {
            padding-right: 20px;
          }
        }
        &.full-width {
          li {
            border-top: 1px dashed $borderColor;
            padding-bottom: 0;
            padding-top: 2px;
          }
        }
      }
    }
  }
  .card-file-attach {
    .card-inner {
      grid-template-columns: 100%;
    }
    .thumb {
      height: 130px;
      width: 130px;
    }
    .info {
      padding-right: 0;
      padding-top: 10px;
      ul li {
        font-size: 12px;
      }
    }
  }
}

/*#endregion -------------- Cards */
