/*#region ----------------- Dashboard */
.wrapper {
  width: 100%;
}
#contentDash {
  width: calc(100% - 300px);
  padding: 10px 20px;
  min-height: 100vh;
  transition: all 0.3s ease-in-out !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 0 40px 40px 0;
  box-shadow: 5px 0 20px -1px rgba($color: $textDark, $alpha: 0.1);
  &.active {
    width: 100%;
    border-radius: 0;
  }
}
#sidebarDash {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 990;
  background: transparent;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  scrollbar-color: rgba(19, 175, 122, 0.2) rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    border-radius: 10px;
    width: 5px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(19, 175, 122, 0.2);
  }
  &.active {
    margin-right: -300px;
  }
  .sidebar-header {
    @include displayFlex(flex, center, center);
    padding: 30px 10px;
    .icon {
      img {
        width: 120px;
      }
    }
  }
  .list-nav {
    margin: 20px 0;
  }
  .nav-item {
    position: relative;
    padding: 0 20px 0 0;
    .sub-item {
      padding: 3px;
      font-weight: 500;
      @include displayFlex(flex, center, flex-start);
      color: $textGrey;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 6px;
        height: 46px;
        background-color: transparent;
        border-radius: 0 10px 10px 0;
      }
      &::after {
        content: "\f11d";
        font-family: $iconFontRegular;
        position: absolute;
        left: 15px;
        top: 13px;
        font-size: 16px;
        color: $textGrey;
        display: none;
      }
      &:hover {
        color: $textDark;
        .fi {
          color: $textDark;
        }
      }
      &.have-child {
        &::after {
          display: block;
        }
      }
      .icon {
        width: 40px;
        height: 40px;
        @include displayFlex(flex, center, center);
        margin-left: 10px;
        i {
          color: $textGrey;
          font-size: 24px;
          position: relative;
          line-height: 0;
        }
      }
      .badge {
        width: 24px;
        height: 24px;
        background-color: $secondary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: white;
        margin-right: 10px;
      }
    }
    .menu-collapse {
      background-color: darken($color: gold, $amount: 5);
      border-radius: 10px;
      li {
        a {
          display: block;
          padding: 10px 65px 10px 5px;
          font-size: 14px;
          font-weight: 400;
          color: white;
          &:hover {
            color: $primary;
          }
        }
        &.active {
          a {
            color: $primary;
          }
        }
      }
    }
    .dropdown-toggle::after {
      margin-right: auto;
      margin-left: 14px;
      position: relative;
      top: 2px;
    }
    &.active .sub-item {
      color: $textDark;
      font-weight: 600;
      &::before {
        background-color: $primary;
      }
      .icon {
        i {
          color: $primary;
        }
      }
    }
    .card {
      padding: 0;
      border: none;
      padding-left: 20px;
      background-color: transparent;
    }
    .sub-list-nav {
      background-color: white;
      border-radius: 10px;
      border: 1px solid $borderColor;
      padding: 10px 15px;
      .nav-item {
        padding-right: 50px;
        .sub-item {
          font-size: 14px;
          padding: 8px 0;
          &::before {
            display: none;
          }
          &.active {
            color: $primary;
          }
        }
      }
    }
  }
}
#navbarDash {
  background-color: white;
  width: calc(100% - 300px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 980;
  @include displayFlex(flex, center, center);
  padding: 10px 30px 10px 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 0 40px 0 0;
  border-bottom: 1px solid $borderColor;
  &.active {
    width: 100%;
  }
  .collapse-sidebar {
    @include displayFlex(flex, center, flex-start);
  }
  .dashboard-info {
    margin-right: 20px;
    h6 {
      color: $primary;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 400;
      color: $textGrey;
    }
  }
  .user-menu-content {
    text-align: right;
    margin-right: auto;
    @include displayFlex(flex, center, flex-end);
    .dropdown {
      margin-right: 20px;
      &:first-child {
        margin-right: 0;
      }
      .btn {
        font-size: 14px;
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
          box-shadow: none;
          background-color: $background;
          color: $primary;
        }
        .fi {
          font-size: 20px;
          margin-left: 10px;
          position: relative;
          top: 3px;
          color: $primary;
        }
        &::after {
          margin-left: 0;
          margin-right: 10px;
        }
      }
      .dropdown-menu {
        box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.2);
        border: none;
        border-radius: 10px;
      }
      .dropdown-item {
        padding: 0.3rem 1rem;
        font-size: 14px;
        font-weight: 400;
        color: $textDark;
        text-align: right;
        i {
          margin-left: 10px;
          font-size: 18px;
          line-height: 0 !important;
          position: relative;
          top: 4px;
          color: $textGrey;
        }
        &:hover,
        &:focus {
          background-color: $primaryLight;
        }
      }
    }
  }
}

#sidebarCollapse {
  border: none;
  border-radius: 50%;
  display: inline-block;
  padding: 0;
  width: 48px;
  height: 48px;
  border: 2px solid transparent;
  background-color: $background;
  &:hover {
    border-color: $primary;
    .menu-lines {
      .line {
        background-color: $primary;
      }
    }
  }
  &:focus {
    box-shadow: none;
  }
  &.active {
    transition: all 0.4s;
    .menu-lines {
      .line {
        width: 24px;
        &.line-1 {
          transform: rotate(0);
          top: unset;
          width: 24px;
          left: 0;
        }
        &.line-3 {
          transform: rotate(0);
          top: unset;
          width: 24px;
          left: 0;
        }
      }
    }
  }
  .menu-lines {
    position: relative;
    @include displayFlex(flex, center, center);
    flex-direction: column;
    .line {
      position: relative;
      display: inline-block;
      width: 23px;
      height: 2px;
      margin: 2px 0;
      background-color: $textGrey;
      transition: all 0.4s;
      &.line-1 {
        transform: rotate(45deg);
        top: 2px;
        width: 10px;
        left: 7px;
      }
      &.line-2 {
        opacity: 1;
      }
      &.line-3 {
        transform: rotate(-45deg);
        top: -2px;
        width: 10px;
        left: 7px;
      }
    }
  }
  .fi {
    font-size: 2em;
  }
}

.btn-close-sidebar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  left: 10px;
  top: 13px;
  border: none;
  color: white;
  display: none;
  background-color: rgba($color: white, $alpha: 0.2);
  i {
    font-size: 20px;
    line-height: 0 !important;
    position: relative;
    top: 4px;
  }
}

// Main
.main-body-content {
  margin-top: 75px;
  .main-header {
    padding: 0 0 10px 0;
    background-color: white;
    .inner {
      @include displayFlex(flex, center, flex-start);
      position: relative;
      min-height: 57px;
      .page-back {
        margin-left: 20px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: $textDark;
          width: 48px;
          height: 48px;
          border-radius: 8px;
          background-color: rgba($color: $accent, $alpha: 0.1);
          i {
            font-size: 24px;
            line-height: normal;
            position: relative;
          }
        }
        &:hover {
          a {
            color: white;
            background-color: rgba($color: $accent, $alpha: 0.4);
          }
        }
      }
      .title {
        @include displayFlex(flex, center, center);
        margin-right: 5px;
        i {
          font-size: 22px;
          margin-left: 15px;
          line-height: 0 !important;
          color: $textGrey;
        }
        h1 {
          font-size: 18px;
          margin-bottom: 0;
        }
      }
      .controller {
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .btn {
          margin-right: 10px;
          &:first-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .page-actions-btn {
    @include displayFlex(flex, center, flex-start);
    .btn {
      margin: 5px 0 5px 5px;
    }
    .dropdown-menu {
      box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.2);
      border: none;
      border-radius: 10px;
    }
    .dropdown-item {
      padding: 0.3rem 1rem;
      font-size: 14px;
      font-weight: 400;
      color: $textDark;
      text-align: right;
      i {
        margin-left: 10px;
        font-size: 18px;
        line-height: 0 !important;
        position: relative;
        top: 4px;
        color: $textGrey;
      }
      img {
        width: 22px;
        margin-left: 10px;
      }
      &:hover,
      &:focus {
        background-color: $primaryLight;
      }
    }
  }
  .main-inner {
    // padding: 20px 0;
  }
}

.tabs-section {
  .nav-link {
    padding: 0.7rem 1.2rem;
    font-size: 14px;
    border-radius: 8px 8px 0 0;
    border-color: $borderColor;
    color: $textGrey;
    margin: 0 5px;
    border-bottom: none;
    .fi {
      font-size: 18px;
      position: relative;
      top: 4px;
      margin-left: 10px;
    }
    &.active {
      background-color: $primaryLight;
      color: $primary;
      border-color: $primary;
    }
  }
  .tab-inner {
    margin-top: 1rem;
  }
  .box-form {
    padding: 20px;
    background-color: $background;
    border-radius: 10px;
    margin-bottom: 15px;
    .box-title {
      margin-bottom: 20px;
      h6 {
        margin-bottom: 0;
      }
    }
  }
  .btns-group {
    text-align: center;
    margin: 1rem 0 3rem 0;
    .btn {
      margin: 5px;
    }
  }
}

@media (max-width: 992px) {
  #navbarDash {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  #sidebarDash {
    margin-right: -300px;
    position: fixed;
    background-color: white;
    border-radius: 30px 0 0 30px;
    &.active {
      margin-right: 0;
    }
  }
  #contentDash {
    width: 100%;
    padding: 12px;
    background-color: white;
    border-radius: 0;
    &.active {
      width: 100%;
    }
  }
  #sidebarCollapse {
    .menu-lines {
      .line {
        &.line-1 {
          transform: rotate(0);
          top: unset;
          width: 24px;
          left: 0;
        }
        &.line-3 {
          transform: rotate(0);
          top: unset;
          width: 24px;
          left: 0;
        }
      }
    }
  }
  .sidebar-overlay {
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 985;
    display: none;
  }
  .btn-close-sidebar {
    display: block;
  }
  .tabs-section {
    .nav-link {
      font-size: 12px;
      padding: 0.5rem 1rem;
      margin: 0 2px;
      .fi {
        font-size: 16px;
        margin-left: 5px;
      }
    }
  }
}
@media (max-width: 768px) {
  .main-body-content .main-header {
    .inner {
      .title {
        h1 {
          font-size: 18px;
        }
      }
    }
  }
  #navbarDash .user-menu-content .dropdown .btn {
    padding: 0.2rem;
    width: 46px;
    height: 46px;
    &::after {
      display: none;
    }
    .name {
      display: none;
    }
    .icon {
      @include displayFlex(flex, center, center);
      width: 100%;
      height: 100%;
    }
    .fi {
      margin-left: 0;
      top: 0;
    }
  }
}
@media (max-width: 575px) {
  #navbarDash .user-menu-content .dropdown .btn {
    width: 38px;
    height: 38px;
  }
  .main-body-content {
    .main-header {
      .inner {
        flex-wrap: wrap;
        min-height: 47px;
        .title {
          margin-bottom: 0;
          h1 {
            font-size: 16px;
          }
        }
        .controller {
          .btn {
            width: 38px;
            height: 38px;
            padding: 5px;
            @include displayFlex(flex, center, center);
            span {
              display: none;
            }
            .fi {
              margin: 0;
              position: relative;
              top: 0;
              left: 0;
              right: 0;
            }
          }
        }
        .search-action {
          flex: 0 0 100%;
          width: 100%;
          margin-top: 10px;
          text-align: center;
          .btn {
            padding: 0.2rem 1rem 0.3rem 1rem;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
    .page-actions-btn {
      .btn {
        width: 38px;
        height: 38px;
        padding: 5px;
        @include displayFlex(flex, center, center);
        span {
          display: none;
        }
        .fi {
          margin: 0;
          position: relative;
          top: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
  .tabs-section {
    .nav-link {
      font-size: 10px;
      padding: 0.5rem;
      margin: 0 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;
      .fi {
        font-size: 14px;
        margin-left: 0;
        margin-bottom: 5px;
      }
    }
    .box-form {
      padding: 15px 12px 12px 12px;
    }
    .btns-group {
      .btn {
        display: block;
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}
/*#endregion -------------- Dashboard */
