/*#region ----------------- Forms */
.inputgroup {
  position: relative;
  margin-bottom: 1.2rem;
  label {
    font-size: 13px;
    font-weight: 400;
    color: $textDark;
    display: block;
    margin-bottom: 7px;
  }
  .input {
    width: 100%;
    height: 44px;
    border: 2px solid $borderColor;
    border-radius: 10px;
    padding: 3px 45px 3px 15px;
    font-size: 14px;
    font-weight: 400;
    color: $textDark;
    text-align: right;
    transition: all 0.3s ease-in-out;
    &:hover {
      border-color: $primary;
    }
    &:focus {
      border-color: $primary;
      ~ .icon {
        color: $primary;
      }
    }
    &:disabled {
      background-color: darken($color: $background, $amount: 5);
    }
  }
  .icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 44px;
    height: 44px;
    @include displayFlex(flex, center, center);
    font-size: 20px;
    color: $textGrey;
    transition: all 0.3s ease-in-out;
  }
}

.selectgroup {
  position: relative;
  margin-bottom: 1.2rem;
  label {
    font-size: 13px;
    font-weight: 400;
    color: $textDark;
    display: block;
    margin-bottom: 7px;
  }
  .select {
    width: 100%;
    height: 44px;
    border: 2px solid $borderColor;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: $textDark;
    text-align: right;
    transition: all 0.3s ease-in-out;
    padding: 3px 45px 3px 15px;
    background-color: white;
    &:hover {
      border-color: $primary;
    }
    &:focus {
      border-color: $primary;
      ~ .icon {
        color: $primary;
      }
    }
  }
  .icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 44px;
    height: 44px;
    @include displayFlex(flex, center, center);
    font-size: 20px;
    color: $textGrey;
    transition: all 0.3s ease-in-out;
  }
}

.textarea-group {
  label {
    font-size: 13px;
    font-weight: 400;
    color: $textDark;
    display: block;
    margin-bottom: 7px;
  }
  .textarea {
    width: 100%;
    border: 2px solid $borderColor;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    color: $textDark;
    transition: all 0.2s ease-in-out;
    &:hover {
      border-color: $textSilver;
    }
    &:focus {
      border-color: $primary;
    }
  }
}

.btngroup-form {
  margin-top: 27px;
  .btn {
    width: 100%;
  }
  &.min-width {
    .btn {
      width: unset;
    }
  }
}

.checkbox-group {
  margin-top: 34px;
  .form-check {
    padding-left: 0;
    padding-right: 1.5rem;
  }
  .form-check-input {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 5px;
    right: 0;
    border: 2px solid $borderColor;
    appearance: none;
    margin-top: 0.1rem;
    background-color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:checked {
      background-color: $primary;
      border-color: $primary;
      &::before {
        display: block;
      }
    }
    &::before {
      content: "\f211";
      font-family: $iconFontRegular;
      position: absolute;
      top: -3px;
      right: 1px;
      font-size: 17px;
      color: white;
      display: none;
    }
  }
  .form-check-label {
    margin-right: 5px;
    cursor: pointer;
  }
}

.box-upload-file {
  border: 1px solid $borderColor;
  padding: 20px 10px;
  border-radius: 10px;
  h6 {
    margin-bottom: 20px;
  }
  .box-inner {
    align-items: flex-start;
  }
  .box-tips {
    padding: 0 10px;
    .upload-pic-help {
      margin-top: 20px;
      li {
        font-size: 13px;
        font-weight: 400;
        color: $textDark;
        margin-bottom: 10px;
      }
    }
  }
}

.map-content {
  iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: none;
  }
}

@media (max-width: 992px) {
  .map-content {
    margin-top: 10px;
    iframe {
      height: 300px;
    }
  }
}
@media (max-width: 575px) {
  .checkbox-group {
    margin: 10px 0 20px 0;
  }
  .btngroup-form {
    margin: 10px 0 20px 0;
  }
}

/*#endregion -------------- Forms */
