/*#region ----------------- X) General */
@import url(../css/fontface.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none !important;
}
body {
  font-family: $bodyFont !important;
  direction: rtl;
  margin: 0;
  background-color: $background;
  text-align: right;
  height: 100%;
}
html {
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: $textDark;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
strong,
span,
p {
  font-family: $bodyFont !important;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 25px;
  font-weight: 400;
}
b,
strong {
  font-weight: bolder;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav {
  display: block;
}
a {
  text-decoration: none !important;
}
img {
  vertical-align: middle;
  border-style: none;
  font-size: 13px;
  font-weight: 300;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
::selection {
  background-color: $primary;
  color: white;
}

.fi {
  display: inline-block !important;
  line-height: 0 !important;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

/*#endregion -------------- X) General */
