/*#region ----------------- Header */
.header {
  .header-inner {
    @include displayFlex(flex, center, space-between);
    padding: 10px 0;
  }
  .nav-logo {
    a {
      @include displayFlex(flex, center, flex-start);
      img {
        width: 100px;
      }
      h2 {
        font-size: 15px;
        margin-bottom: 0;
      }
    }
  }
  .mobile-links {
    display: none;
    .btn-mobile-menu {
      background-color: transparent;
      color: $textDark;
      border: none;
      width: 40px;
      height: 40px;
      padding: 0;
      cursor: pointer;
      .fi {
        font-size: 28px;
        position: relative;
        top: 5px;
      }
    }
  }
}
@media (max-width: 1400px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
  .header {
    .header-inner {
      display: grid;
      grid-template-columns: 80px auto auto;
      justify-content: unset;
    }
    .nav-logo {
      a {
        img {
          width: 90px;
        }
        h2 {
          font-size: 14px;
        }
      }
    }
    .nav-btns {
      text-align: left;
      .btn-primary-outline {
        display: none;
      }
    }
    .mobile-links {
      display: block;
      z-index: 20;
    }
  }
}
@media (max-width: 768px) {
  .header {
    .header-inner {
      grid-template-columns: 60px auto 50px;
    }
    .nav-logo a {
      img {
        width: 70px;
      }
      h2 {
        font-size: 13px;
      }
    }
    .nav-btns {
      .btn {
        width: 44px;
        height: 44px;
        padding: 2px;
        .fi {
          position: relative;
          top: 7px;
          right: 0;
        }
        span {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .header {
    .nav-logo a {
      img {
        width: 60px;
      }
      h2 {
        font-size: 10px;
      }
    }
  }
}

/*#endregion -------------- Header */
