/*#region ----------------- Index List Section */
.index-page-section {
  background-color: white;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 -5px 20px -1px rgba($color: $textDark, $alpha: 0.1);
  .panel-info {
    padding: 15px 0;
    h6 {
      font-size: 13px;
      color: $primary;
      padding: 10px 15px;
      display: inline-block;
      border: 1px solid $primary;
      border-radius: 10px;
    }
    .version {
      margin-right: 10px;
      font-size: 13px;
      font-weight: 600;
      color: $textGrey;
    }
  }
  .section-inner {
    padding: 10px 0 40px 0;
  }
}

@media (max-width: 1400px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .index-page-section {
    border-radius: 35px 35px 0 0;
    .panel-info {
      h6 {
        font-size: 12px;
        padding: 8px 12px;
        border-radius: 8px;
      }
      .version {
        font-size: 12px;
        margin-right: 5px;
      }
    }
  }
}
@media (max-width: 575px) {
  .index-page-section {
    border-radius: 30px 30px 0 0;
    .panel-info {
      h6 {
        font-size: 10px;
        padding: 6px 10px;
        border-radius: 6px;
      }
      .version {
        font-size: 10px;
        margin-right: 5px;
      }
    }
  }
}

/*#endregion -------------- Index List Section */
