/*#region ----------------- Information */
.information-data-content {
  ul {
    li {
      font-size: 15px;
      font-weight: 400;
      margin: 10px 0;
      .fi {
        font-size: 18px;
        position: relative;
        top: 4px;
        margin-left: 10px;
        color: $textGrey;
      }
      .name {
        color: $textGrey;
        white-space: nowrap;
      }
      .desc {
        color: $textDark;
        &.error {
          color: $error;
        }
        &.success {
          color: $success;
        }
        &.warning {
          color: $accent;
        }
      }
    }
  }
  .description {
    background-color: $background;
    border-radius: 10px;
    padding: 12px 15px;
    margin-top: 1.5rem;
    label {
      font-weight: 600;
      display: block;
      margin-bottom: 10px;
      color: $textDark;
    }
    p {
      color: $textDark;
      font-size: 14px;
      text-align: justify;
    }
  }
}

/*#endregion -------------- Information */
