/*#region ----------------- Login Wrapper */
.login-wrapper {
  padding: 3rem 2rem;
  background-image: url(../images/login-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  .login-section {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: $boxshadow;
    .login-header {
      padding: 12px;
      text-align: center;
      background-color: $primary;
      border-radius: 15px 15px 0 0;
      h6 {
        margin-bottom: 0;
        color: white;
      }
    }
    .login-body {
      padding: 30px;
    }
  }
  .captcha {
    display: grid;
    grid-template-columns: auto 35px;
    align-items: flex-end;
    .img-captcha {
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
    .btn-refresh {
      width: 30px;
      height: 30px;
      border: 1px solid $primary;
      background-color: $primaryLight;
      border-radius: 8px;
      color: $primary;
      margin-right: 5px;
      cursor: pointer;
      .fi {
        position: relative;
        top: 3px;
      }
    }
  }
  .btns-group {
    margin-top: 20px;
    text-align: center;
  }
  .col-lg-6,
  .col-lg-12,
  .col-md-6 {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .login-wrapper {
    .login-section {
      width: 100%;
    }
  }
}
@media (max-width: 575px) {
  .login-wrapper {
    .login-section {
      .login-body {
        padding: 15px;
      }
    }
    .btns-group {
      .btn {
        display: block;
        margin: 5px 0;
      }
    }
  }
}

/*#endregion -------------- Login Wrapper */
