/*#region ----------------- Modal styles */

.modal-content {
  border-radius: 12px;
  border: none;
}
.modal-header {
  .close {
    margin: -1rem auto -1rem -1rem;
    .fi {
      position: relative;
      top: 6px;
    }
  }
}
.modal-title {
  font-size: 1.1rem;
  color: $textDark;
  .fi {
    margin-left: 10px;
    font-size: 22px;
    position: relative;
    top: 7px;
    color: $textGrey;
  }
}
.modal-body {
  .col-lg-12,
  .col-lg-6,
  .col-lg-4,
  .col-lg-3,
  .col-md-12,
  .col-md-6,
  .col-md-4,
  .col-md-3,
  .col-sm-12,
  .col-sm-6,
  .col-sm-4,
  .col-sm-3 {
    padding: 0 5px;
  }
  .row {
    margin-right: unset;
    margin-left: unset;
  }
  .message {
    h6 {
      font-weight: 600;
      color: $textDark;
    }
  }
}
.modal-footer {
  .btn {
    margin-right: 10px;
  }
}
@media (max-width: 575px) {
}

/*#endregion -------------- Modal styles */
