/*#region ----------------- Pagination */
.pagination {
  @include displayFlex(flex, center, center);
  user-select: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .btn-pagination-next,
  .btn-pagination-prev {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: $primary;
    padding: 5px;
    @include displayFlex(flex, center, center);
    color: white;
    cursor: pointer;
    .fi {
      font-size: 18px;
    }
    &:hover,
    &:focus {
      box-shadow: none;
      background-color: $primaryDark;
    }
  }
  .btn-pagination-next {
    margin-left: 10px;
  }
  .btn-pagination-prev {
    margin-right: 10px;
  }
  .pagination-input {
    font-size: 16px;
    font-weight: 600;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    padding: 2px 5px;
    border: 2px solid $borderColor;
    background-color: $background;
    text-align: center;
    color: $textDark;
    &:hover,
    &:focus {
      border-color: $primary;
    }
  }
  h6 {
    margin-right: 10px;
    margin-bottom: 0;
    color: $textDark;
    span {
      font-weight: 400;
    }
  }
}

@media (max-width: 1400px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 575px) {
}

/*#endregion -------------- Pagination */
