/*#region ----------------- Page Filter */
.page-filter {
  border-radius: 10px;
  border: 1px solid $borderColor;
  background-color: $background;
  .btn-collapse {
    width: 100%;
    text-align: right;
    height: 48px;
    border: none;
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $borderColor;
    .name {
      font-size: 15px;
      font-weight: 600;
      color: $textDark;
      .fi {
        color: $textDark;
        margin-left: 10px;
        line-height: 0;
        position: relative;
        top: 3px;
        font-size: 18px;
      }
    }
    .icon {
      width: 48px;
      height: 48px;
      @include displayFlex(flex, center, center);
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
      .fi {
        color: $primary;
        font-size: 20px;
      }
    }
    &.collapsed {
      border-radius: 10px;
      .icon {
        transform: rotate(0);
      }
    }
    &:hover,
    &:focus {
      background-color: $primaryLight !important;
      border-bottom: none;
    }
  }
  .card-body {
    padding: 15px;
    background-color: transparent;
    border: none;
  }
  .btngroup {
    margin-bottom: 1.2rem;
    .btn {
      width: 100%;
      padding: 0.5rem 1.2rem;
    }
  }
  .col-lg-12,
  .col-lg-6,
  .col-lg-4,
  .col-lg-3,
  .col-md-12,
  .col-md-6,
  .col-md-4,
  .col-md-3,
  .col-sm-12,
  .col-sm-6,
  .col-sm-4,
  .col-sm-3 {
    padding: 0 5px;
  }
  .row {
    margin-right: unset;
    margin-left: unset;
  }
}

@media (max-width: 1199px) {
  .page-filter {
    .inputgroup,
    .selectgroup,
    .btngroup {
      margin-bottom: 1rem;
    }
  }
}
@media (max-width: 575px) {
  .page-filter {
    .btn-collapse {
      .name {
        font-size: 13px;
        .fi {
          font-size: 16px;
        }
      }
    }
    .inputgroup,
    .selectgroup,
    .btngroup {
      margin-bottom: 0.5rem;
      label {
        font-size: 12px;
        margin-bottom: 5px;
      }
      .icon {
        font-size: 18px;
        width: 34px;
        height: 34px;
      }
    }
    .selectgroup {
      .select {
        padding: 2px 38px 2px 10px;
        height: 34px;
        font-size: 13px;
      }
    }
    .inputgroup {
      .input {
        padding: 2px 38px 2px 10px;
        height: 34px;
        font-size: 13px;
      }
    }
    .btngroup {
      margin-top: 10px;
      .btn {
        padding: 0.3rem 1.2rem;
        font-size: 14px;
        .fi {
          font-size: 18px;
        }
        &.icon-right {
          padding: 0.3rem 2.5rem 0.3rem 1.2rem;
          .fi {
            top: 6px;
          }
        }
      }
    }
  }
}

/*#endregion -------------- Page Filter */
