/*#region ----------------- Sidebar Mobile Menu */
#sidebar-menu {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  z-index: 2002;
  background: #fff;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: all 0.3s;
  opacity: 0;
  &.active {
    right: 0;
    opacity: 1;
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid $borderColor;
    .sidebar-close {
      .btn-close-menu {
        width: 45px;
        height: 45px;
        color: $textGrey;
        background-color: transparent;
        border: none;
        padding: 0;
        .fi {
          font-size: 24px;
          position: relative;
          top: 4px;
        }
        &:hover {
          color: $primary;
        }
      }
    }
    .sidebar-logo {
      a {
        display: block;
        img {
          width: 100px;
        }
        span {
          font-size: 16px;
          font-weight: 500;
          color: $textDark;
        }
      }
    }
  }

  .category-list {
    display: none;
    margin-top: 20px;
    .item {
      a {
        padding: 10px 20px 10px 0;
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: $textDark;
        position: relative;
        transition: all 0.2s ease;
        .fi {
          position: absolute;
          left: 20px;
          color: $secondary;
        }
        &:hover {
          color: $primaryDark;
          padding-right: 30px;
          background-color: $background;
          transition: all 0.2s ease;
        }
      }
    }
  }
}
.overlay-back {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2001;
  opacity: 0;
  transition: all 0.3s;
  &.active {
    display: block;
    opacity: 1;
  }
}
@media (max-width: 992px) {
  #sidebar-menu {
    .category-list {
      display: block;
    }
  }
}

@media (max-width: 320px) {
  #sidebar-menu {
    width: 100%;
    right: -400px;
  }
}
/*#endregion -------------- Sidebar Mobile Menu */
