/*#region ----------------- X - Catch Error */
.bred {
    border: 1px dashed blue;
}
.bgreen {
    border: 1px dashed green;
}
.bblue {
    border: 1px dashed red;
}
/*#endregion -------------- X - Catch Error */
