/*#region ----------------- X) General */
@import url(../css/fontface.css);
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none !important;
}

body {
  font-family: IRANYEKAN !important;
  direction: rtl;
  margin: 0;
  background-color: #f7f7f7;
  text-align: right;
  height: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 800;
  color: #3c3d44;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
strong,
span,
p {
  font-family: IRANYEKAN !important;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 25px;
  font-weight: 400;
}

b,
strong {
  font-weight: bolder;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  display: block;
}

a {
  text-decoration: none !important;
}

img {
  vertical-align: middle;
  border-style: none;
  font-size: 13px;
  font-weight: 300;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-moz-selection {
  background-color: #13af7a;
  color: white;
}

::selection {
  background-color: #13af7a;
  color: white;
}

.fi {
  display: inline-block !important;
  line-height: 0 !important;
}

@media (min-width: 576px) {
  .container-sm,
.container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
.container-sm,
.container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
.container-md,
.container-sm,
.container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    max-width: 1320px;
  }
}
/*#endregion -------------- X) General */
/*#region ----------------- Animation */
.smooth-anim-3s {
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes scaleIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}
@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes swipeup {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes swipeup {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes swipeupsmall {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes swipeupsmall {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes swipeRightsmall {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes swipeRightsmall {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes swipeLeftsmall {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes swipeLeftsmall {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes rotatebg {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotatebg {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(249, 92, 77, 0.1), 0 0 0 0 rgba(249, 92, 77, 0.1);
  }
  40% {
    box-shadow: 0 0 0 10px rgba(249, 92, 77, 0), 0 0 0 0 rgba(249, 92, 77, 0.1);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(249, 92, 77, 0), 0 0 0 10px rgba(249, 92, 77, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(249, 92, 77, 0), 0 0 0 10px rgba(249, 92, 77, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(249, 92, 77, 0.1), 0 0 0 0 rgba(249, 92, 77, 0.1);
  }
  40% {
    box-shadow: 0 0 0 10px rgba(249, 92, 77, 0), 0 0 0 0 rgba(249, 92, 77, 0.1);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(249, 92, 77, 0), 0 0 0 10px rgba(249, 92, 77, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(249, 92, 77, 0), 0 0 0 10px rgba(249, 92, 77, 0);
  }
}
@-webkit-keyframes dropanim {
  from {
    opacity: 1;
    width: 10px;
    height: 10px;
  }
  to {
    opacity: 0;
    width: 120px;
    height: 120px;
  }
}
@keyframes dropanim {
  from {
    opacity: 1;
    width: 10px;
    height: 10px;
  }
  to {
    opacity: 0;
    width: 120px;
    height: 120px;
  }
}
/*#endregion -------------- Animation */
/*#region ----------------- Buttons */
.btn {
  padding: 0.5rem 1.3rem;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid transparent;
  border: 2px solid transparent;
  position: relative;
}
.btn:hover, .btn:focus {
  box-shadow: none !important;
}
.btn.mini-size {
  padding: 0.1rem 0.7rem 0.3rem 0.7rem;
  border-radius: 8px;
  font-size: 14px;
}
.btn.mini-size .fi {
  margin-left: 6px;
  position: relative;
  top: 5px;
  font-size: 18px;
}

.icon-left {
  padding-left: 45px;
}
.icon-left .fi {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 14px;
}

.icon-right {
  padding-right: 45px;
}
.icon-right .fi {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 14px;
}

.btn-primary {
  border-color: #239971;
  background-color: #13af7a;
  color: white;
  transition: all 0.3s ease;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #239971;
  border-color: #239971;
}
.btn-primary .fi {
  color: white;
}

.btn-secondary {
  border-color: #e02c1b;
  background-color: #f95c4d;
  color: white;
  transition: all 0.3s ease;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #e02c1b;
  border-color: #e02c1b;
}
.btn-secondary .fi {
  color: white;
}

.btn-primary-outline {
  border-color: #13af7a;
  background-color: transparent;
  color: #13af7a;
  transition: all 0.3s ease;
}
.btn-primary-outline:hover, .btn-primary-outline:focus {
  background-color: #239971;
  border-color: #13af7a;
  color: white;
}
.btn-primary-outline:hover .fi, .btn-primary-outline:focus .fi {
  color: white;
}
.btn-primary-outline .fi {
  color: #13af7a;
}
.btn-primary-outline.color-gray {
  border-color: #828181;
  color: #828181;
}
.btn-primary-outline.color-gray .fi {
  color: #828181;
}
.btn-primary-outline.color-gray:hover, .btn-primary-outline.color-gray:focus {
  background-color: #b4b4b4;
  color: white;
}
.btn-primary-outline.color-gray:hover .fi, .btn-primary-outline.color-gray:focus .fi {
  color: white;
}

.btn-secondary-outline {
  border-color: #f95c4d;
  background-color: transparent;
  color: #f95c4d;
  transition: all 0.3s ease;
}
.btn-secondary-outline:hover, .btn-secondary-outline:focus {
  background-color: #e02c1b;
  border-color: #f95c4d;
  color: white;
}
.btn-secondary-outline:hover .fi, .btn-secondary-outline:focus .fi {
  color: white;
}
.btn-secondary-outline .fi {
  color: #f95c4d;
}

.btn-accent {
  border-color: #008dce;
  background-color: #00a6f3;
  color: white;
  transition: all 0.3s ease;
}
.btn-accent:hover, .btn-accent:focus {
  background-color: #008dce;
  border-color: #008dce;
  color: white;
}
.btn-accent .fi {
  color: white;
}

.btn-link {
  padding-right: 0;
  padding-left: 0;
  font-size: 13px;
  color: #13af7a;
}
.btn-link .fi {
  margin-left: 8px;
  position: relative;
  top: 3px;
}

/*#endregion -------------- Buttons */
/*#region ----------------- Header */
.header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.header .nav-logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header .nav-logo a img {
  width: 100px;
}
.header .nav-logo a h2 {
  font-size: 15px;
  margin-bottom: 0;
}
.header .mobile-links {
  display: none;
}
.header .mobile-links .btn-mobile-menu {
  background-color: transparent;
  color: #3c3d44;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
}
.header .mobile-links .btn-mobile-menu .fi {
  font-size: 28px;
  position: relative;
  top: 5px;
}

@media (max-width: 992px) {
  .header .header-inner {
    display: grid;
    grid-template-columns: 80px auto auto;
    justify-content: unset;
  }
  .header .nav-logo a img {
    width: 90px;
  }
  .header .nav-logo a h2 {
    font-size: 14px;
  }
  .header .nav-btns {
    text-align: left;
  }
  .header .nav-btns .btn-primary-outline {
    display: none;
  }
  .header .mobile-links {
    display: block;
    z-index: 20;
  }
}
@media (max-width: 768px) {
  .header .header-inner {
    grid-template-columns: 60px auto 50px;
  }
  .header .nav-logo a img {
    width: 70px;
  }
  .header .nav-logo a h2 {
    font-size: 13px;
  }
  .header .nav-btns .btn {
    width: 44px;
    height: 44px;
    padding: 2px;
  }
  .header .nav-btns .btn .fi {
    position: relative;
    top: 7px;
    right: 0;
  }
  .header .nav-btns .btn span {
    display: none;
  }
}
@media (max-width: 575px) {
  .header .nav-logo a img {
    width: 60px;
  }
  .header .nav-logo a h2 {
    font-size: 10px;
  }
}
/*#endregion -------------- Header */
/*#region ----------------- Sidebar Mobile Menu */
#sidebar-menu {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  z-index: 2002;
  background: #fff;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: all 0.3s;
  opacity: 0;
}
#sidebar-menu.active {
  right: 0;
  opacity: 1;
}
#sidebar-menu .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
}
#sidebar-menu .sidebar-header .sidebar-close .btn-close-menu {
  width: 45px;
  height: 45px;
  color: #828181;
  background-color: transparent;
  border: none;
  padding: 0;
}
#sidebar-menu .sidebar-header .sidebar-close .btn-close-menu .fi {
  font-size: 24px;
  position: relative;
  top: 4px;
}
#sidebar-menu .sidebar-header .sidebar-close .btn-close-menu:hover {
  color: #13af7a;
}
#sidebar-menu .sidebar-header .sidebar-logo a {
  display: block;
}
#sidebar-menu .sidebar-header .sidebar-logo a img {
  width: 100px;
}
#sidebar-menu .sidebar-header .sidebar-logo a span {
  font-size: 16px;
  font-weight: 500;
  color: #3c3d44;
}
#sidebar-menu .category-list {
  display: none;
  margin-top: 20px;
}
#sidebar-menu .category-list .item a {
  padding: 10px 20px 10px 0;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #3c3d44;
  position: relative;
  transition: all 0.2s ease;
}
#sidebar-menu .category-list .item a .fi {
  position: absolute;
  left: 20px;
  color: #f95c4d;
}
#sidebar-menu .category-list .item a:hover {
  color: #239971;
  padding-right: 30px;
  background-color: #f7f7f7;
  transition: all 0.2s ease;
}

.overlay-back {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2001;
  opacity: 0;
  transition: all 0.3s;
}
.overlay-back.active {
  display: block;
  opacity: 1;
}

@media (max-width: 992px) {
  #sidebar-menu .category-list {
    display: block;
  }
}
@media (max-width: 320px) {
  #sidebar-menu {
    width: 100%;
    right: -400px;
  }
}
/*#endregion -------------- Sidebar Mobile Menu */
/*#region ----------------- Index List Section */
.index-page-section {
  background-color: white;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 -5px 20px -1px rgba(60, 61, 68, 0.1);
}
.index-page-section .panel-info {
  padding: 15px 0;
}
.index-page-section .panel-info h6 {
  font-size: 13px;
  color: #13af7a;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #13af7a;
  border-radius: 10px;
}
.index-page-section .panel-info .version {
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #828181;
}
.index-page-section .section-inner {
  padding: 10px 0 40px 0;
}

@media (max-width: 768px) {
  .index-page-section {
    border-radius: 35px 35px 0 0;
  }
  .index-page-section .panel-info h6 {
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 8px;
  }
  .index-page-section .panel-info .version {
    font-size: 12px;
    margin-right: 5px;
  }
}
@media (max-width: 575px) {
  .index-page-section {
    border-radius: 30px 30px 0 0;
  }
  .index-page-section .panel-info h6 {
    font-size: 10px;
    padding: 6px 10px;
    border-radius: 6px;
  }
  .index-page-section .panel-info .version {
    font-size: 10px;
    margin-right: 5px;
  }
}
/*#endregion -------------- Index List Section */
/*#region ----------------- Forms */
.inputgroup {
  position: relative;
  margin-bottom: 1.2rem;
}
.inputgroup label {
  font-size: 13px;
  font-weight: 400;
  color: #3c3d44;
  display: block;
  margin-bottom: 7px;
}
.inputgroup .input {
  width: 100%;
  height: 44px;
  border: 2px solid #e8e8e8;
  border-radius: 10px;
  padding: 3px 45px 3px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #3c3d44;
  text-align: right;
  transition: all 0.3s ease-in-out;
}
.inputgroup .input:hover {
  border-color: #13af7a;
}
.inputgroup .input:focus {
  border-color: #13af7a;
}
.inputgroup .input:focus ~ .icon {
  color: #13af7a;
}
.inputgroup .input:disabled {
  background-color: #eaeaea;
}
.inputgroup .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #828181;
  transition: all 0.3s ease-in-out;
}

.selectgroup {
  position: relative;
  margin-bottom: 1.2rem;
}
.selectgroup label {
  font-size: 13px;
  font-weight: 400;
  color: #3c3d44;
  display: block;
  margin-bottom: 7px;
}
.selectgroup .select {
  width: 100%;
  height: 44px;
  border: 2px solid #e8e8e8;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #3c3d44;
  text-align: right;
  transition: all 0.3s ease-in-out;
  padding: 3px 45px 3px 15px;
  background-color: white;
}
.selectgroup .select:hover {
  border-color: #13af7a;
}
.selectgroup .select:focus {
  border-color: #13af7a;
}
.selectgroup .select:focus ~ .icon {
  color: #13af7a;
}
.selectgroup .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #828181;
  transition: all 0.3s ease-in-out;
}

.textarea-group label {
  font-size: 13px;
  font-weight: 400;
  color: #3c3d44;
  display: block;
  margin-bottom: 7px;
}
.textarea-group .textarea {
  width: 100%;
  border: 2px solid #e8e8e8;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  font-weight: 400;
  color: #3c3d44;
  transition: all 0.2s ease-in-out;
}
.textarea-group .textarea:hover {
  border-color: #b4b4b4;
}
.textarea-group .textarea:focus {
  border-color: #13af7a;
}

.btngroup-form {
  margin-top: 27px;
}
.btngroup-form .btn {
  width: 100%;
}
.btngroup-form.min-width .btn {
  width: unset;
}

.checkbox-group {
  margin-top: 34px;
}
.checkbox-group .form-check {
  padding-left: 0;
  padding-right: 1.5rem;
}
.checkbox-group .form-check-input {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 5px;
  right: 0;
  border: 2px solid #e8e8e8;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 0.1rem;
  background-color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.checkbox-group .form-check-input:checked {
  background-color: #13af7a;
  border-color: #13af7a;
}
.checkbox-group .form-check-input:checked::before {
  display: block;
}
.checkbox-group .form-check-input::before {
  content: "\f211";
  font-family: "uicons-regular-rounded";
  position: absolute;
  top: -3px;
  right: 1px;
  font-size: 17px;
  color: white;
  display: none;
}
.checkbox-group .form-check-label {
  margin-right: 5px;
  cursor: pointer;
}

.box-upload-file {
  border: 1px solid #e8e8e8;
  padding: 20px 10px;
  border-radius: 10px;
}
.box-upload-file h6 {
  margin-bottom: 20px;
}
.box-upload-file .box-inner {
  align-items: flex-start;
}
.box-upload-file .box-tips {
  padding: 0 10px;
}
.box-upload-file .box-tips .upload-pic-help {
  margin-top: 20px;
}
.box-upload-file .box-tips .upload-pic-help li {
  font-size: 13px;
  font-weight: 400;
  color: #3c3d44;
  margin-bottom: 10px;
}

.map-content iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: none;
}

@media (max-width: 992px) {
  .map-content {
    margin-top: 10px;
  }
  .map-content iframe {
    height: 300px;
  }
}
@media (max-width: 575px) {
  .checkbox-group {
    margin: 10px 0 20px 0;
  }
  .btngroup-form {
    margin: 10px 0 20px 0;
  }
}
/*#endregion -------------- Forms */
/*#region ----------------- Dashboard */
.wrapper {
  width: 100%;
}

#contentDash {
  width: calc(100% - 300px);
  padding: 10px 20px;
  min-height: 100vh;
  transition: all 0.3s ease-in-out !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 0 40px 40px 0;
  box-shadow: 5px 0 20px -1px rgba(60, 61, 68, 0.1);
}
#contentDash.active {
  width: 100%;
  border-radius: 0;
}

#sidebarDash {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 990;
  background: transparent;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  scrollbar-color: rgba(19, 175, 122, 0.2) rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
}
#sidebarDash::-webkit-scrollbar {
  border-radius: 10px;
  width: 5px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}
#sidebarDash::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(19, 175, 122, 0.2);
}
#sidebarDash.active {
  margin-right: -300px;
}
#sidebarDash .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
#sidebarDash .sidebar-header .icon img {
  width: 120px;
}
#sidebarDash .list-nav {
  margin: 20px 0;
}
#sidebarDash .nav-item {
  position: relative;
  padding: 0 20px 0 0;
}
#sidebarDash .nav-item .sub-item {
  padding: 3px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #828181;
  position: relative;
}
#sidebarDash .nav-item .sub-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 46px;
  background-color: transparent;
  border-radius: 0 10px 10px 0;
}
#sidebarDash .nav-item .sub-item::after {
  content: "\f11d";
  font-family: "uicons-regular-rounded";
  position: absolute;
  left: 15px;
  top: 13px;
  font-size: 16px;
  color: #828181;
  display: none;
}
#sidebarDash .nav-item .sub-item:hover {
  color: #3c3d44;
}
#sidebarDash .nav-item .sub-item:hover .fi {
  color: #3c3d44;
}
#sidebarDash .nav-item .sub-item.have-child::after {
  display: block;
}
#sidebarDash .nav-item .sub-item .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
#sidebarDash .nav-item .sub-item .icon i {
  color: #828181;
  font-size: 24px;
  position: relative;
  line-height: 0;
}
#sidebarDash .nav-item .sub-item .badge {
  width: 24px;
  height: 24px;
  background-color: #f95c4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  margin-right: 10px;
}
#sidebarDash .nav-item .menu-collapse {
  background-color: #e6c200;
  border-radius: 10px;
}
#sidebarDash .nav-item .menu-collapse li a {
  display: block;
  padding: 10px 65px 10px 5px;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
#sidebarDash .nav-item .menu-collapse li a:hover {
  color: #13af7a;
}
#sidebarDash .nav-item .menu-collapse li.active a {
  color: #13af7a;
}
#sidebarDash .nav-item .dropdown-toggle::after {
  margin-right: auto;
  margin-left: 14px;
  position: relative;
  top: 2px;
}
#sidebarDash .nav-item.active .sub-item {
  color: #3c3d44;
  font-weight: 600;
}
#sidebarDash .nav-item.active .sub-item::before {
  background-color: #13af7a;
}
#sidebarDash .nav-item.active .sub-item .icon i {
  color: #13af7a;
}
#sidebarDash .nav-item .card {
  padding: 0;
  border: none;
  padding-left: 20px;
  background-color: transparent;
}
#sidebarDash .nav-item .sub-list-nav {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  padding: 10px 15px;
}
#sidebarDash .nav-item .sub-list-nav .nav-item {
  padding-right: 50px;
}
#sidebarDash .nav-item .sub-list-nav .nav-item .sub-item {
  font-size: 14px;
  padding: 8px 0;
}
#sidebarDash .nav-item .sub-list-nav .nav-item .sub-item::before {
  display: none;
}
#sidebarDash .nav-item .sub-list-nav .nav-item .sub-item.active {
  color: #13af7a;
}

#navbarDash {
  background-color: white;
  width: calc(100% - 300px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 980;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px 10px 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 0 40px 0 0;
  border-bottom: 1px solid #e8e8e8;
}
#navbarDash.active {
  width: 100%;
}
#navbarDash .collapse-sidebar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#navbarDash .dashboard-info {
  margin-right: 20px;
}
#navbarDash .dashboard-info h6 {
  color: #13af7a;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}
#navbarDash .dashboard-info p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  color: #828181;
}
#navbarDash .user-menu-content {
  text-align: right;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#navbarDash .user-menu-content .dropdown {
  margin-right: 20px;
}
#navbarDash .user-menu-content .dropdown:first-child {
  margin-right: 0;
}
#navbarDash .user-menu-content .dropdown .btn {
  font-size: 14px;
  display: flex;
  align-items: center;
}
#navbarDash .user-menu-content .dropdown .btn:hover, #navbarDash .user-menu-content .dropdown .btn:focus {
  box-shadow: none;
  background-color: #f7f7f7;
  color: #13af7a;
}
#navbarDash .user-menu-content .dropdown .btn .fi {
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  top: 3px;
  color: #13af7a;
}
#navbarDash .user-menu-content .dropdown .btn::after {
  margin-left: 0;
  margin-right: 10px;
}
#navbarDash .user-menu-content .dropdown .dropdown-menu {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
}
#navbarDash .user-menu-content .dropdown .dropdown-item {
  padding: 0.3rem 1rem;
  font-size: 14px;
  font-weight: 400;
  color: #3c3d44;
  text-align: right;
}
#navbarDash .user-menu-content .dropdown .dropdown-item i {
  margin-left: 10px;
  font-size: 18px;
  line-height: 0 !important;
  position: relative;
  top: 4px;
  color: #828181;
}
#navbarDash .user-menu-content .dropdown .dropdown-item:hover, #navbarDash .user-menu-content .dropdown .dropdown-item:focus {
  background-color: #e7f7f1;
}

#sidebarCollapse {
  border: none;
  border-radius: 50%;
  display: inline-block;
  padding: 0;
  width: 48px;
  height: 48px;
  border: 2px solid transparent;
  background-color: #f7f7f7;
}
#sidebarCollapse:hover {
  border-color: #13af7a;
}
#sidebarCollapse:hover .menu-lines .line {
  background-color: #13af7a;
}
#sidebarCollapse:focus {
  box-shadow: none;
}
#sidebarCollapse.active {
  transition: all 0.4s;
}
#sidebarCollapse.active .menu-lines .line {
  width: 24px;
}
#sidebarCollapse.active .menu-lines .line.line-1 {
  transform: rotate(0);
  top: unset;
  width: 24px;
  left: 0;
}
#sidebarCollapse.active .menu-lines .line.line-3 {
  transform: rotate(0);
  top: unset;
  width: 24px;
  left: 0;
}
#sidebarCollapse .menu-lines {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#sidebarCollapse .menu-lines .line {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 2px;
  margin: 2px 0;
  background-color: #828181;
  transition: all 0.4s;
}
#sidebarCollapse .menu-lines .line.line-1 {
  transform: rotate(45deg);
  top: 2px;
  width: 10px;
  left: 7px;
}
#sidebarCollapse .menu-lines .line.line-2 {
  opacity: 1;
}
#sidebarCollapse .menu-lines .line.line-3 {
  transform: rotate(-45deg);
  top: -2px;
  width: 10px;
  left: 7px;
}
#sidebarCollapse .fi {
  font-size: 2em;
}

.btn-close-sidebar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  left: 10px;
  top: 13px;
  border: none;
  color: white;
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.btn-close-sidebar i {
  font-size: 20px;
  line-height: 0 !important;
  position: relative;
  top: 4px;
}

.main-body-content {
  margin-top: 75px;
}
.main-body-content .main-header {
  padding: 0 0 10px 0;
  background-color: white;
}
.main-body-content .main-header .inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 57px;
}
.main-body-content .main-header .inner .page-back {
  margin-left: 20px;
}
.main-body-content .main-header .inner .page-back a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #3c3d44;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: rgba(0, 166, 243, 0.1);
}
.main-body-content .main-header .inner .page-back a i {
  font-size: 24px;
  line-height: normal;
  position: relative;
}
.main-body-content .main-header .inner .page-back:hover a {
  color: white;
  background-color: rgba(0, 166, 243, 0.4);
}
.main-body-content .main-header .inner .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.main-body-content .main-header .inner .title i {
  font-size: 22px;
  margin-left: 15px;
  line-height: 0 !important;
  color: #828181;
}
.main-body-content .main-header .inner .title h1 {
  font-size: 18px;
  margin-bottom: 0;
}
.main-body-content .main-header .inner .controller {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-body-content .main-header .inner .controller .btn {
  margin-right: 10px;
}
.main-body-content .main-header .inner .controller .btn:first-child {
  margin-right: 0;
}
.main-body-content .page-actions-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-body-content .page-actions-btn .btn {
  margin: 5px 0 5px 5px;
}
.main-body-content .page-actions-btn .dropdown-menu {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
}
.main-body-content .page-actions-btn .dropdown-item {
  padding: 0.3rem 1rem;
  font-size: 14px;
  font-weight: 400;
  color: #3c3d44;
  text-align: right;
}
.main-body-content .page-actions-btn .dropdown-item i {
  margin-left: 10px;
  font-size: 18px;
  line-height: 0 !important;
  position: relative;
  top: 4px;
  color: #828181;
}
.main-body-content .page-actions-btn .dropdown-item img {
  width: 22px;
  margin-left: 10px;
}
.main-body-content .page-actions-btn .dropdown-item:hover, .main-body-content .page-actions-btn .dropdown-item:focus {
  background-color: #e7f7f1;
}
.tabs-section .nav-link {
  padding: 0.7rem 1.2rem;
  font-size: 14px;
  border-radius: 8px 8px 0 0;
  border-color: #e8e8e8;
  color: #828181;
  margin: 0 5px;
  border-bottom: none;
}
.tabs-section .nav-link .fi {
  font-size: 18px;
  position: relative;
  top: 4px;
  margin-left: 10px;
}
.tabs-section .nav-link.active {
  background-color: #e7f7f1;
  color: #13af7a;
  border-color: #13af7a;
}
.tabs-section .tab-inner {
  margin-top: 1rem;
}
.tabs-section .box-form {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 15px;
}
.tabs-section .box-form .box-title {
  margin-bottom: 20px;
}
.tabs-section .box-form .box-title h6 {
  margin-bottom: 0;
}
.tabs-section .btns-group {
  text-align: center;
  margin: 1rem 0 3rem 0;
}
.tabs-section .btns-group .btn {
  margin: 5px;
}

@media (max-width: 992px) {
  #navbarDash {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  #sidebarDash {
    margin-right: -300px;
    position: fixed;
    background-color: white;
    border-radius: 30px 0 0 30px;
  }
  #sidebarDash.active {
    margin-right: 0;
  }
  #contentDash {
    width: 100%;
    padding: 12px;
    background-color: white;
    border-radius: 0;
  }
  #contentDash.active {
    width: 100%;
  }
  #sidebarCollapse .menu-lines .line.line-1 {
    transform: rotate(0);
    top: unset;
    width: 24px;
    left: 0;
  }
  #sidebarCollapse .menu-lines .line.line-3 {
    transform: rotate(0);
    top: unset;
    width: 24px;
    left: 0;
  }
  .sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 985;
    display: none;
  }
  .btn-close-sidebar {
    display: block;
  }
  .tabs-section .nav-link {
    font-size: 12px;
    padding: 0.5rem 1rem;
    margin: 0 2px;
  }
  .tabs-section .nav-link .fi {
    font-size: 16px;
    margin-left: 5px;
  }
}
@media (max-width: 768px) {
  .main-body-content .main-header .inner .title h1 {
    font-size: 18px;
  }
  #navbarDash .user-menu-content .dropdown .btn {
    padding: 0.2rem;
    width: 46px;
    height: 46px;
  }
  #navbarDash .user-menu-content .dropdown .btn::after {
    display: none;
  }
  #navbarDash .user-menu-content .dropdown .btn .name {
    display: none;
  }
  #navbarDash .user-menu-content .dropdown .btn .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  #navbarDash .user-menu-content .dropdown .btn .fi {
    margin-left: 0;
    top: 0;
  }
}
@media (max-width: 575px) {
  #navbarDash .user-menu-content .dropdown .btn {
    width: 38px;
    height: 38px;
  }
  .main-body-content .main-header .inner {
    flex-wrap: wrap;
    min-height: 47px;
  }
  .main-body-content .main-header .inner .title {
    margin-bottom: 0;
  }
  .main-body-content .main-header .inner .title h1 {
    font-size: 16px;
  }
  .main-body-content .main-header .inner .controller .btn {
    width: 38px;
    height: 38px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-body-content .main-header .inner .controller .btn span {
    display: none;
  }
  .main-body-content .main-header .inner .controller .btn .fi {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
  .main-body-content .main-header .inner .search-action {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .main-body-content .main-header .inner .search-action .btn {
    padding: 0.2rem 1rem 0.3rem 1rem;
    font-size: 14px;
    font-weight: 400;
  }
  .main-body-content .page-actions-btn .btn {
    width: 38px;
    height: 38px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-body-content .page-actions-btn .btn span {
    display: none;
  }
  .main-body-content .page-actions-btn .btn .fi {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
  .tabs-section .nav-link {
    font-size: 10px;
    padding: 0.5rem;
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
  }
  .tabs-section .nav-link .fi {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 5px;
  }
  .tabs-section .box-form {
    padding: 15px 12px 12px 12px;
  }
  .tabs-section .btns-group .btn {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
/*#endregion -------------- Dashboard */
/*#region ----------------- Page Filter */
.page-filter {
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  background-color: #f7f7f7;
}
.page-filter .btn-collapse {
  width: 100%;
  text-align: right;
  height: 48px;
  border: none;
  background-color: transparent;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #e8e8e8;
}
.page-filter .btn-collapse .name {
  font-size: 15px;
  font-weight: 600;
  color: #3c3d44;
}
.page-filter .btn-collapse .name .fi {
  color: #3c3d44;
  margin-left: 10px;
  line-height: 0;
  position: relative;
  top: 3px;
  font-size: 18px;
}
.page-filter .btn-collapse .icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}
.page-filter .btn-collapse .icon .fi {
  color: #13af7a;
  font-size: 20px;
}
.page-filter .btn-collapse.collapsed {
  border-radius: 10px;
}
.page-filter .btn-collapse.collapsed .icon {
  transform: rotate(0);
}
.page-filter .btn-collapse:hover, .page-filter .btn-collapse:focus {
  background-color: #e7f7f1 !important;
  border-bottom: none;
}
.page-filter .card-body {
  padding: 15px;
  background-color: transparent;
  border: none;
}
.page-filter .btngroup {
  margin-bottom: 1.2rem;
}
.page-filter .btngroup .btn {
  width: 100%;
  padding: 0.5rem 1.2rem;
}
.page-filter .col-lg-12,
.page-filter .col-lg-6,
.page-filter .col-lg-4,
.page-filter .col-lg-3,
.page-filter .col-md-12,
.page-filter .col-md-6,
.page-filter .col-md-4,
.page-filter .col-md-3,
.page-filter .col-sm-12,
.page-filter .col-sm-6,
.page-filter .col-sm-4,
.page-filter .col-sm-3 {
  padding: 0 5px;
}
.page-filter .row {
  margin-right: unset;
  margin-left: unset;
}

@media (max-width: 1199px) {
  .page-filter .inputgroup,
.page-filter .selectgroup,
.page-filter .btngroup {
    margin-bottom: 1rem;
  }
}
@media (max-width: 575px) {
  .page-filter .btn-collapse .name {
    font-size: 13px;
  }
  .page-filter .btn-collapse .name .fi {
    font-size: 16px;
  }
  .page-filter .inputgroup,
.page-filter .selectgroup,
.page-filter .btngroup {
    margin-bottom: 0.5rem;
  }
  .page-filter .inputgroup label,
.page-filter .selectgroup label,
.page-filter .btngroup label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .page-filter .inputgroup .icon,
.page-filter .selectgroup .icon,
.page-filter .btngroup .icon {
    font-size: 18px;
    width: 34px;
    height: 34px;
  }
  .page-filter .selectgroup .select {
    padding: 2px 38px 2px 10px;
    height: 34px;
    font-size: 13px;
  }
  .page-filter .inputgroup .input {
    padding: 2px 38px 2px 10px;
    height: 34px;
    font-size: 13px;
  }
  .page-filter .btngroup {
    margin-top: 10px;
  }
  .page-filter .btngroup .btn {
    padding: 0.3rem 1.2rem;
    font-size: 14px;
  }
  .page-filter .btngroup .btn .fi {
    font-size: 18px;
  }
  .page-filter .btngroup .btn.icon-right {
    padding: 0.3rem 2.5rem 0.3rem 1.2rem;
  }
  .page-filter .btngroup .btn.icon-right .fi {
    top: 6px;
  }
}
/*#endregion -------------- Page Filter */
/*#region ----------------- Cards */
.cards-list-section {
  margin-top: 2rem;
}
.cards-list-section .list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.cards-list-section .list-title h3 {
  margin-bottom: 0;
  font-size: 18px;
  color: #3c3d44;
}
.cards-list-section .list-title .record-info h6 {
  margin-bottom: 0;
  color: #828181;
  font-size: 13px;
  font-weight: 400;
}
.cards-list-section .list-title .record-info h6 strong {
  color: #3c3d44;
  margin: 0 3px;
}

.card-infomation {
  margin-bottom: 10px;
  position: relative;
}
.card-infomation .card-inner {
  border: 2px solid #e8e8e8;
  border-radius: 10px;
}
.card-infomation .c-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 12px 12px 50px;
}
.card-infomation .c-header .num {
  background-color: #13af7a;
  min-width: 35px;
  text-align: center;
  border: 1px solid #239971;
  border-radius: 5px;
  margin-left: 15px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.card-infomation .c-header .num.error {
  background-color: #f95c4d;
  border-color: #e02c1b;
}
.card-infomation .c-header h6 {
  font-size: 14px;
  margin-bottom: 0;
  color: #3c3d44;
}
.card-infomation .c-header h6 span {
  font-size: 13px;
  font-weight: 400;
  color: #828181;
  margin-right: 5px;
  white-space: nowrap;
}
.card-infomation .c-body {
  padding: 0 12px 12px 12px;
}
.card-infomation .c-body ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card-infomation .c-body ul.full-width li {
  flex: 0 0 100%;
  width: 100%;
}
.card-infomation .c-body ul li {
  flex: 0 0 33.33%;
  width: 33.33%;
  font-size: 13px;
  font-weight: 400;
  margin: 5px 0;
}
.card-infomation .c-body ul li .fi {
  font-size: 16px;
  position: relative;
  top: 4px;
  margin-left: 5px;
  color: #828181;
}
.card-infomation .c-body ul li .name {
  color: #828181;
  white-space: nowrap;
}
.card-infomation .c-body ul li .desc {
  color: #3c3d44;
}
.card-infomation .c-body ul li .desc.error {
  color: #f95c4d;
}
.card-infomation .c-body ul li .desc.success {
  color: #13af7a;
}
.card-infomation .c-body ul li .desc.warning {
  color: #00a6f3;
}
.card-infomation .c-footer {
  border-top: 2px solid #e8e8e8;
  padding: 8px 12px 3px 12px;
  background-color: #f7f7f7;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-infomation .c-footer .status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 5px;
  white-space: nowrap;
  margin-bottom: 5px;
}
.card-infomation .c-footer .status.success {
  background-color: rgba(35, 153, 113, 0.15);
  color: #13af7a;
}
.card-infomation .c-footer .status.success h6 {
  color: #13af7a;
}
.card-infomation .c-footer .status.error {
  background-color: rgba(249, 92, 77, 0.1);
  color: #f95c4d;
}
.card-infomation .c-footer .status.error h6 {
  color: #f95c4d;
}
.card-infomation .c-footer .status.waiting {
  background-color: rgba(0, 166, 243, 0.1);
  color: #00a6f3;
}
.card-infomation .c-footer .status.waiting h6 {
  color: #00a6f3;
}
.card-infomation .c-footer .status h6 {
  font-size: 12px;
  margin-bottom: 0;
  margin-right: 5px;
}
.card-infomation .c-footer .status .fi {
  line-height: 0;
  font-size: 12px;
}
.card-infomation .c-footer .btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.card-infomation .c-footer .btns-group .btn {
  margin: 0 5px 5px 0;
  flex-grow: 1;
  white-space: nowrap;
}
.card-infomation .c-actions {
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-infomation .c-actions .dropdown-menu {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
}
.card-infomation .c-actions .dropdown-item {
  padding: 0.3rem 1rem;
  font-size: 14px;
  font-weight: 400;
  color: #3c3d44;
  text-align: right;
}
.card-infomation .c-actions .dropdown-item i {
  margin-left: 10px;
  font-size: 18px;
  line-height: 0 !important;
  position: relative;
  top: 4px;
  color: #828181;
}
.card-infomation .c-actions .dropdown-item:hover, .card-infomation .c-actions .dropdown-item:focus {
  background-color: #e7f7f1;
}
.card-infomation .c-actions .btn-menu {
  width: 34px;
  height: 34px;
  padding: 2px;
  border-radius: 8px;
  background-color: #eaeaea;
  color: #828181;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.card-infomation .c-actions .btn-menu .fi {
  position: relative;
  top: 3px;
}

.card-file-attach {
  position: relative;
  margin-bottom: 10px;
}
.card-file-attach .card-inner {
  display: grid;
  grid-template-columns: 150px auto;
  border: 2px solid #e8e8e8;
  border-radius: 10px;
  padding: 10px;
}
.card-file-attach .thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  margin: 0;
}
.card-file-attach .thumb .img-inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.card-file-attach .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}
.card-file-attach .thumb::before {
  content: "\f419";
  font-family: "uicons-regular-rounded";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #b4b4b4;
}
.card-file-attach .thumb img {
  font-size: 0;
}
.card-file-attach .info {
  padding-right: 20px;
  padding-left: 50px;
}
.card-file-attach .info ul li {
  font-size: 14px;
  margin: 6px 0;
}
.card-file-attach .info ul li .name {
  color: #828181;
}
.card-file-attach .info ul li .desc {
  color: #3c3d44;
  margin-right: 5px;
}
.card-file-attach .c-actions {
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-file-attach .c-actions .dropdown-menu {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
}
.card-file-attach .c-actions .dropdown-item {
  padding: 0.3rem 1rem;
  font-size: 14px;
  font-weight: 400;
  color: #3c3d44;
  text-align: right;
}
.card-file-attach .c-actions .dropdown-item i {
  margin-left: 10px;
  font-size: 18px;
  line-height: 0 !important;
  position: relative;
  top: 4px;
  color: #828181;
}
.card-file-attach .c-actions .dropdown-item:hover, .card-file-attach .c-actions .dropdown-item:focus {
  background-color: #e7f7f1;
}
.card-file-attach .c-actions .btn-menu {
  width: 34px;
  height: 34px;
  padding: 2px;
  border-radius: 8px;
  background-color: #eaeaea;
  color: #828181;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.card-file-attach .c-actions .btn-menu .fi {
  position: relative;
  top: 3px;
}

@media (max-width: 992px) {
  .card-infomation .c-body ul li {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .card-infomation .c-header h6 {
    font-size: 13px;
  }
  .card-infomation .c-header h6 span {
    font-size: 11px;
  }
  .card-infomation .c-body ul li {
    flex: 0 0 100%;
    width: 100%;
    font-size: 12px;
  }
  .card-file-attach .card-inner {
    grid-template-columns: 120px auto;
  }
  .card-file-attach .thumb {
    height: 120px;
  }
  .card-file-attach .info {
    padding-right: 15px;
  }
  .card-file-attach .info ul li {
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  .card-infomation .c-footer {
    flex-direction: column;
  }
  .card-infomation .c-footer .status,
.card-infomation .c-footer .btns-group {
    flex: 0 0 100%;
    width: 100%;
  }
  .card-infomation .c-footer .status {
    margin-bottom: 5px;
  }
  .card-infomation .c-footer .btns-group {
    text-align: left;
  }
  .card-file-attach .card-inner {
    grid-template-columns: 100px auto;
  }
  .card-file-attach .thumb {
    height: 100px;
  }
  .card-file-attach .info {
    padding-right: 10px;
  }
  .card-file-attach .info ul li {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .card-infomation .c-body ul li {
    font-size: 10px;
    margin: 2px 0;
    border-bottom: 1px dashed #e8e8e8;
    padding-bottom: 2px;
  }
  .card-infomation .c-body ul li:last-child {
    border-bottom: none;
  }
  .card-infomation .c-body ul li .fi {
    font-size: 14px;
  }
  .card-infomation .c-body ul li span {
    display: block;
  }
  .card-infomation .c-body ul li .desc {
    padding-right: 20px;
  }
  .card-infomation .c-body ul.full-width li {
    border-top: 1px dashed #e8e8e8;
    padding-bottom: 0;
    padding-top: 2px;
  }
  .card-file-attach .card-inner {
    grid-template-columns: 100%;
  }
  .card-file-attach .thumb {
    height: 130px;
    width: 130px;
  }
  .card-file-attach .info {
    padding-right: 0;
    padding-top: 10px;
  }
  .card-file-attach .info ul li {
    font-size: 12px;
  }
}
/*#endregion -------------- Cards */
/*#region ----------------- Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pagination .btn-pagination-next,
.pagination .btn-pagination-prev {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #13af7a;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.pagination .btn-pagination-next .fi,
.pagination .btn-pagination-prev .fi {
  font-size: 18px;
}
.pagination .btn-pagination-next:hover, .pagination .btn-pagination-next:focus,
.pagination .btn-pagination-prev:hover,
.pagination .btn-pagination-prev:focus {
  box-shadow: none;
  background-color: #239971;
}
.pagination .btn-pagination-next {
  margin-left: 10px;
}
.pagination .btn-pagination-prev {
  margin-right: 10px;
}
.pagination .pagination-input {
  font-size: 16px;
  font-weight: 600;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  padding: 2px 5px;
  border: 2px solid #e8e8e8;
  background-color: #f7f7f7;
  text-align: center;
  color: #3c3d44;
}
.pagination .pagination-input:hover, .pagination .pagination-input:focus {
  border-color: #13af7a;
}
.pagination h6 {
  margin-right: 10px;
  margin-bottom: 0;
  color: #3c3d44;
}
.pagination h6 span {
  font-weight: 400;
}

/*#endregion -------------- Pagination */
/*#region ----------------- Login Wrapper */
.login-wrapper {
  padding: 3rem 2rem;
  background-image: url(../images/login-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}
.login-wrapper .login-section {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
}
.login-wrapper .login-section .login-header {
  padding: 12px;
  text-align: center;
  background-color: #13af7a;
  border-radius: 15px 15px 0 0;
}
.login-wrapper .login-section .login-header h6 {
  margin-bottom: 0;
  color: white;
}
.login-wrapper .login-section .login-body {
  padding: 30px;
}
.login-wrapper .captcha {
  display: grid;
  grid-template-columns: auto 35px;
  align-items: flex-end;
}
.login-wrapper .captcha .img-captcha img {
  width: 100%;
  border-radius: 8px;
}
.login-wrapper .captcha .btn-refresh {
  width: 30px;
  height: 30px;
  border: 1px solid #13af7a;
  background-color: #e7f7f1;
  border-radius: 8px;
  color: #13af7a;
  margin-right: 5px;
  cursor: pointer;
}
.login-wrapper .captcha .btn-refresh .fi {
  position: relative;
  top: 3px;
}
.login-wrapper .btns-group {
  margin-top: 20px;
  text-align: center;
}
.login-wrapper .col-lg-6,
.login-wrapper .col-lg-12,
.login-wrapper .col-md-6 {
  padding: 0 10px;
}

@media (max-width: 768px) {
  .login-wrapper .login-section {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .login-wrapper .login-section .login-body {
    padding: 15px;
  }
  .login-wrapper .btns-group .btn {
    display: block;
    margin: 5px 0;
  }
}
/*#endregion -------------- Login Wrapper */
/*#region ----------------- Modal styles */
.modal-content {
  border-radius: 12px;
  border: none;
}

.modal-header .close {
  margin: -1rem auto -1rem -1rem;
}
.modal-header .close .fi {
  position: relative;
  top: 6px;
}

.modal-title {
  font-size: 1.1rem;
  color: #3c3d44;
}
.modal-title .fi {
  margin-left: 10px;
  font-size: 22px;
  position: relative;
  top: 7px;
  color: #828181;
}

.modal-body .col-lg-12,
.modal-body .col-lg-6,
.modal-body .col-lg-4,
.modal-body .col-lg-3,
.modal-body .col-md-12,
.modal-body .col-md-6,
.modal-body .col-md-4,
.modal-body .col-md-3,
.modal-body .col-sm-12,
.modal-body .col-sm-6,
.modal-body .col-sm-4,
.modal-body .col-sm-3 {
  padding: 0 5px;
}
.modal-body .row {
  margin-right: unset;
  margin-left: unset;
}
.modal-body .message h6 {
  font-weight: 600;
  color: #3c3d44;
}

.modal-footer .btn {
  margin-right: 10px;
}

/*#endregion -------------- Modal styles */
/*#region ----------------- Information */
.information-data-content ul li {
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0;
}
.information-data-content ul li .fi {
  font-size: 18px;
  position: relative;
  top: 4px;
  margin-left: 10px;
  color: #828181;
}
.information-data-content ul li .name {
  color: #828181;
  white-space: nowrap;
}
.information-data-content ul li .desc {
  color: #3c3d44;
}
.information-data-content ul li .desc.error {
  color: #f95c4d;
}
.information-data-content ul li .desc.success {
  color: #13af7a;
}
.information-data-content ul li .desc.warning {
  color: #00a6f3;
}
.information-data-content .description {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 12px 15px;
  margin-top: 1.5rem;
}
.information-data-content .description label {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  color: #3c3d44;
}
.information-data-content .description p {
  color: #3c3d44;
  font-size: 14px;
  text-align: justify;
}

/*#endregion -------------- Information */
/*#region ----------------- Accordion */
.accordion-section .btn-link {
  background-color: #f7f7f7;
  border-radius: 10px 10px 0 0;
  text-align: right;
  padding: 0.6rem 3rem 0.6rem 1rem;
  font-size: 15px;
  color: #3c3d44;
  border: 1px solid #e8e8e8;
}
.accordion-section .btn-link:hover, .accordion-section .btn-link:focus {
  text-decoration: none;
  background-color: #e7f7f1;
  color: #13af7a;
}
.accordion-section .btn-link::before {
  content: "\f3d5";
  font-family: "uicons-solid-rounded";
  position: absolute;
  right: 10px;
  top: 6px;
  color: #828181;
  font-size: 20px;
}
.accordion-section .btn-link.collapsed {
  border-radius: 10px;
}
.accordion-section .btn-link.collapsed::before {
  content: "\f428";
  color: #13af7a;
}
.accordion-section .card {
  border: none !important;
  border-radius: 10px !important;
  margin-bottom: 10px;
}
.accordion-section .card .card-body {
  border: 1px solid #e8e8e8;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.volume-box {
  display: grid;
  grid-template-columns: 60% 40%;
}
.volume-box.single-row {
  align-items: flex-end;
}
.volume-box.single-row .inputgroup {
  margin-bottom: 0;
}
.volume-box .volume-inputs {
  padding-left: 20px;
}
.volume-box .volume-info ul {
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 7px 15px;
}
.volume-box .volume-info ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.volume-box .volume-info ul li span {
  display: block;
}
.volume-box .volume-info ul li .name {
  font-size: 13px;
  font-weight: 400;
  color: #828181;
}
.volume-box .volume-info ul li .desc {
  font-size: 14px;
  font-weight: 600;
  color: #3c3d44;
}

.volume-total {
  border-top: 1px solid #e8e8e8;
  padding-top: 15px;
  margin-top: 1rem;
}
.volume-total h6 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  color: #828181;
}
.volume-total h6 span {
  color: #3c3d44;
}

@media (max-width: 992px) {
  .volume-box {
    grid-template-columns: 100%;
    margin-bottom: 20px !important;
  }
  .volume-box .volume-inputs {
    padding-left: 0;
  }
  .volume-box.single-row .volume-inputs {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .accordion-section .btn-link {
    font-size: 13px;
    padding-right: 2.5rem;
  }
  .accordion-section .btn-link::before {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .accordion-section .btn-link {
    font-size: 12px;
    padding-right: 2.2rem;
  }
  .accordion-section .btn-link::before {
    font-size: 16px;
  }
}
/*#endregion -------------- Accordion */
/*#region ----------------- X - Catch Error */
.bred {
  border: 1px dashed blue;
}

.bgreen {
  border: 1px dashed green;
}

.bblue {
  border: 1px dashed red;
}

/*#endregion -------------- X - Catch Error */