$primary: #13af7a;
$secondary: #f95c4d;
$accent: #00a6f3;

$primaryDark: #239971;
$secondaryDark: #e02c1b;
$accentDark: #008dce;
$primaryLight: #e7f7f1;
$secondaryLight: #ffeeed;

$textDark: #3c3d44;
$textGrey: #828181;
$textSilver: #b4b4b4;

$success: #13af7a;
$error: #f95c4d;

$borderColor: #e8e8e8;

$background: #f7f7f7;

$bodyFont: IRANYEKAN;
$iconFontRegular: "uicons-regular-rounded";
$iconFontSolid: "uicons-solid-rounded";
$iconFontBrands: "uicons-brands";

$boxshadow: 0 8px 40px
  rgba(
    $color: black,
    $alpha: 0.1,
  );
$boxshadow2: 0 5px 45px
  rgba(
    $color: black,
    $alpha: 0.2,
  );
